<div id="photo-album" class="relative top-[-60px] bg-white w-[325px] h-[250px] border-10 border-white shadow-md rounded-2xl justify-center align items-center text-center">
<a class="flex items-center justify-center" href="/gallery"><img src="src/assets/album.svg" width="290px"/></a>
<p>the photo album.</p>
</div>