<section id="apps" class="grid grid-cols-2 gap-4">
    <a href="#" class="transition hover:shadow-lg hover:scale-110 rounded-lg text-center w-fit"><img src="src/assets/app-1.svg" width="100px"/>works</a>
    <a href="#" class="transition hover:shadow-lg hover:scale-110 rounded-lg text-center w-fit"><img src="src/assets/app-2.svg"  width="100px"/>lists</a>
    <a href="#" class="transition hover:shadow-lg hover:scale-110 rounded-lg text-center w-fit"><img src="src/assets/app-3.svg"  width="100px"/>blog</a>
    <a href="#" class="transition hover:shadow-lg hover:scale-110 rounded-lg text-center w-fit"><img src="src/assets/app-4.svg"  width="100px"/>writing</a>
    <a href="#" class="transition hover:shadow-lg hover:scale-110 rounded-lg text-center w-fit"><img src="src/assets/app-5.svg"  width="100px"/>art</a>
    <a href="#" class="transition hover:shadow-lg hover:scale-110 rounded-lg text-center w-fit"><img src="src/assets/app-6.svg"  width="100px"/>youtube</a>
</section>

<style>
    
</style>