<section
  id="blue"
  class="bg-blue-200 border-1 w-full sm:min-h-[700px] min-h-[500px] background-layer overflow-hidden gap-[15px]"
>
  <p class="text-white max-w-[300px] relative top-[350px] ml-[50px] mt-[5px]">
    my love for writing, reading, and visual arts is a gift from my heavenly
    Father above.<br />this website is a portfolio of each of these forms of art
    that I find so much joy and comfort in.<br />
    <b>all the glory be to Him.</b>
  </p>
  <img src="src/assets/line.svg" class="min-w-screen"/>
</section>
