---

import Apps from "./apps.astro";
import Projects from "./projects.astro";
import Experience from "./experience.astro";
import Flick from "./flick.astro";
import Album from "./album.astro";
import Music from "./music.astro";
---

<div
  id="landing-container"
  class="items-center grid grid-cols-3 sm:min-h-[700px] min-h-[500px] gap-[15px] mt-[130px]"
>

<div class="flex flex-col">
  <Album/>
  <Apps/>
  <Flick/>
</div>

  <div id="proj-exp-container" class="flex flex-col gap-[15px]">
    <Projects />
    <Experience />
    
  </div>
  <div id="extra-container">
    <Music/>
  </div>
</div>

<style>
  #polaroid:hover {
    position: relative;
    transform: rotate(-5deg);
    cursor: pointer;
  }
  #polaroid:active {
    position: relative;
    top: 5px;
  }

  @keyframes bounce {
    0% {
      transform: translateY(0%);
    }
    40% {
      transform: translateY(-50%);
    }
    60% {
      transform: translateY(-30%);
    }
    100% {
      transform: translateY(0%);
    }
  }

  .landing-star:hover {
    animation: bounce 0.5s ease-out forwards;
  }
</style>
