<div id="photo-album" class="relative top-[-60px] bg-white w-[325px] h-[250px] border-10 border-white shadow-md rounded-2xl justify-center align items-center text-center">
<img src="src/assets/music.svg" width="290px"/>
<p>the photo album.</p>
</div>