<section id="navbar" class="bg-blue-25 absolute w-full sm:min-h-[175px] min-h-[500px] background-layer overflow-hidden">
<div id="folders" class="absolute bottom-0 right-15">
    <button class="bg-white p-[15px] rounded-t-xl min-w-[150px] border-t-2 border-l-2 border-r-2">home</button>
    <button class="bg-white p-[15px] rounded-t-xl min-w-[200px] border-t-2 border-l-2 border-r-2">backyard</button>
    <button class="bg-white p-[15px] rounded-t-xl min-w-[150px] border-t-2 border-l-2 border-r-2">rooftop</button>
</div>
</section>