<section
  id="work"
  class="border-1 w-full sm:min-h-[700px] min-h-[500px] background-layer overflow-hidden gap-[15px]"
>
  <div class="flex flex-col items-center justify-center">
    <div class="flex">
        <img src="src/assets/postit1.svg"/>
        <img src="src/assets/postit3.svg"/>
        <img src="src/assets/worksguy.svg"/>
        <img src="src/assets/works.svg"/>
        <img src="src/assets/postit2.svg"/>
        <img src="src/assets/postit2.svg"/>
    </div>
    
    <ul>
      <li><img src="src/assets/box1.svg" /></li>
      <li><img src="src/assets/box2.svg" /></li>
      <li><img src="src/assets/box3.svg" /></li>
    </ul>

    <a href="#work">
        <img src="src/assets/viewmore.svg" />
    </a>
  </div>
</section>
